/* Estilo de la barra superior */
.custom-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 250px; /* Fija el ancho de la barra */
  background-color: #1a1a1a;
  position: fixed; /* Fija la barra al lado izquierdo */
  top: 0;
  left: 0;
  padding: 20px;
}

/* Contenedor de navegación */
.nav-vertical {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 100%; /* Asegura que los botones ocupen todo el ancho del contenedor */
}

/* Estilo para los botones */
.nav-vertical button {
  margin: 10px 0;
  color: white;
  width: 100%; /* Los botones ocupan todo el ancho */
  text-align: left;
}

/* Estilo de la información del usuario */
.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-icon {
  margin-right: 10px;
}

/* Estilo para los botones */
.custom-button {
  font-size: 14px;
}

/* Estilo de los iconos */
.custom-toolbar mat-icon {
  color: white;
}

/* Estilo del hover para los botones */
.custom-button:hover {
  background-color: #333;
}

/* Contenedor del contenido principal */
.main-content {
  margin-left: 250px; /* Da espacio al navbar */
  padding: 20px;
}
